{{#partial "content"}}
<body>


    <div class="container text-center">
        <h3>YOU HAVE SUCCESSFULY ADDED THE FOLLOWING ANIMAL</h3>

     <div>


        <table class="table table-bordered">
            <thead>
            <tr>

                <th scope="col">Name</th>
                <th scope="col">Ranger</th>
                <th scope="col">Endnagered</th>
                <th scope="col">Age</th>
                <th scope="col">Health</th>
                <th scope="col">Location</th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">{{name}}</th>
                <td>{{range_name}}</td>
                <td>{{animal.getEndangered}}</td>
                <td>{{age}}</td>
                <td>{{health}}</td>
                <td>{{location}}</td>
            </tr>

            </tbody>
        </table>
     </div>
        <br><br>
        <a   class="btn btn-warning "href="/">Back</a>
        <a class="btn btn-warning " href="/animals">List of all animals</a>

    </div>
    <style>
    body{
    background-image:url('images/elephant.jpeg');
    background-size:cover;
    }
    table{
    background:transparent;
    background-color:silver;
    opacity:0.9;
    color:golden;
    }

</style>

</body>
{{/partial}}
{{>layout.hbs}}